@import "tailwindcss";
@import "./custom-colors.css";

:root {
  /* Paleta de cores personalizada */
  --color-creme: #f5efe1; /* Fundo do site */
  --color-marrom: #4a4a4a; /* Corpo de texto */
  --color-verde: #5e8c61; /* Botões e destaques */
  --color-branco: #ffffff; /* Fundo de cards de produto */
  --color-verde-claro: #b3c6a7; /* Detalhes e ícones */
  --color-vermelho: #d32f2f;
}

@theme {
  --color-background: #f5efe1;
  --color-foreground: #4a4a4a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-creme) !important;
  color: var(--color-marrom);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

html {
  background-color: var(--color-creme);
}
